.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

.text-black {
    color: #000;
}

@media (min-width: 768px) {
    .title_level_2 {
        font-size: 32px;
    }
}
.title_level_2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: "Roboto Slab","Noto Sans","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",serif;
}
@media only screen and (max-width: 768px) {
    .title_level_2 {
        line-height: 40px;
    }
}

.sub-title {
    font-size: 16px;
    color: #323232;
}



.action-boxes {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;
}

@media (min-width: 768px) {
    .space-before {
        margin-top: 40px;
    }
}
.action-box, .action-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .action-boxes {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}



.img-container {
    overflow: hidden;
  /*  width: auto;*/
    background-repeat: no-repeat;
    font-size: 20px;
    position: relative;
    height: 320px;
}

.img-container, .location-box {
    background-size: cover;
    background-position: center;
}




.overlay-box {
    position: relative;
    background-color: #000;
    contain: content;
}

.action-box:first-child {
    background-color: #000;
}

@media (min-width: 768px) {
    .action-box {
        width: 50%;
        padding: 32px;
    }
}
.action-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 8px 8px 8px;
    padding: 24px 16px;
    height: auto;
    contain: content;
    transition: transform 0.5s ease-in-out;
}

    .action-box:hover {
        transform: scale( 1.05); /* Scaling up by 10% on hover */
    }

    .action-box, .action-box:active, .action-box:focus, .action-box:hover {
        color: #fff;
        text-decoration: none;
    }


.overlay-box:not(.overlay-box--onlyHover)::before {
    opacity: .6;
}

.overlay-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    pointer-events: none;
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    will-change: opacity;
    contain: strick;
}

.action-box__icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    font-size: 40px;
}

.action-box__content {
    position: relative;
    width: 90%;
    font-size: 16px;
}

.action-box__icon:after, .action-box__icon:before {
    width: 20%;
    height: 2px;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    content: "";
    background-color: currentColor;
    opacity: .7;
}

.action-box__icon svg {
    margin: 0 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.le-icon {
    width: 1em;
    height: 1em;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    fill: currentColor;
    paint-order: stroke fill;
    contain: content;
    fill-rule: evenodd;
    color: #ffd800;
}

.le-icon, .nd-icon {
    clip-rule: evenodd;
    shape-rendering: geometricprecision;
}

.action-box__icon:after, .action-box__icon:before {
    width: 20%;
    height: 2px;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    content: "";
    background-color: currentColor;
    opacity: .7;
}

.action-box__title {
    font-weight: 700;
    margin: 16px 0;
    font-size: 20px;
}
.action-box__text {
    opacity: .7;
}
.action-box__cta {
    display: block;
    margin: 24px 0 0;
    font-size: 16px;
    
}

@media (min-width: 768px) {
    .action-box:last-child {
        margin-top: 0;
    }
}
.action-box:last-child {
    background-color: #000;
    
}



.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

    .carousel-inner > .item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left
    }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img {
            display: block;
            max-width: 100%;
            height: auto;
            line-height: 1
        }

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        -o-transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }

        .carousel-inner > .item.active.right, .carousel-inner > .item.next {
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
            left: 0
        }

        .carousel-inner > .item.active.left, .carousel-inner > .item.prev {
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
            left: 0
        }

            .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                left: 0
            }
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner > .next {
    left: 100%
}

.carousel-inner > .prev {
    left: -100%
}

    .carousel-inner > .next.left, .carousel-inner > .prev.right {
        left: 0
    }

.carousel-inner > .active.left {
    left: -100%
}

.carousel-inner > .active.right {
    left: 100%
}

/*.carousel-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5
}*/

    .carousel-control.left {
        background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000", endColorstr="#00000000", GradientType=1);
        background-repeat: repeat-x
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#80000000", GradientType=1);
        background-repeat: repeat-x
    }

    .carousel-control:focus, .carousel-control:hover {
        color: #fff;
        text-decoration: none;
        outline: 0;
        filter: alpha(opacity=90);
        opacity: .9
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px
    }

    .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 20px;
        height: 20px;
        font-family: serif;
        line-height: 1
    }

        .carousel-control .icon-prev:before {
            content: "‹"
        }

        .carousel-control .icon-next:before {
            content: "›"
        }

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    text-align: center
}

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000\9;
        background-color: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 10px
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff
    }

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff
}

    .carousel-caption .btn {
        text-shadow: none
    }

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -10px
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -10px
    }

    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px
    }

    .carousel-indicators {
        bottom: 20px
    }
}

.carousel-text--home {
    padding-bottom: 8px
}

    .carousel-text--home.img-container {
        height: auto;
        background-color: #000;
        contain: content
    }

/*@media (max-width: 767px) {
    .carousel-text--home.img-container {
        background-image: none !important
    }
}
*/
.carousel-text {
    height: 288px
}

@media (min-width: 768px) {
    .carousel-text--home {
        padding-top: 64px;
        padding-bottom: 64px
    }

        .carousel-text--home.img-container {
            background-image: url(/bundles/app/images/home/lq/slider~c01fc8a1.jpg);
            -webkit-transition: background-image .2s linear;
            -o-transition: background-image .2s linear;
            transition: background-image .2s linear
        }

    .carousel-text {
        height: 320px
    }
}

.carousel-text .carousel-indicators {
    bottom: 8px;
    margin-bottom: 0
}

.carousel-text .carousel-inner {
    background-color: rgba(0,0,0,.6);
    height: 100%
}

.carousel-text .item {
    text-align: center;
    height: 100%;
    color: #fff;
    padding: 32px 0
}

.carousel-text .carousel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5em;
    height: 100%
}

.carousel-text .carousel-control {
    display: none
}

 @media (min-width: 768px) {
            .carousel-text .item {
                padding:32px 8.3333333333%
            }

            .carousel-text .carousel-content {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-align: center
            }

            .carousel-text .carousel-control {
                display: initial;
                width: 8.3333333333%
            }

            .carousel-text .carousel-control>.le-icon {
                position: relative;
                font-size: 36px
            }

            .carousel-text .title_level_2 {
                font-size: 40px;
                margin-bottom: 40px;
                line-height: 1.1
            }
  }

.carousel-control {
    top: auto!important;
    bottom: 50%!important;
    font-size: 56px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

